/* **********  Colores Equipos */
.fondoRedBull {
    background-color: rgb(35, 50, 106);
  }
  .letraRedBull {
    color: rgb(250, 187, 35);
  }
  .numeroRedBull {
    color: rgb(255, 255, 255);
  }
  
  .fondoFerrari {
    background-color: red;
  }
  .letraFerrari {
    color: rgb(255, 255, 255);
  }
  .numeroFerrari {
    color: rgb(0, 0, 0);
  }
  
  .fondoMercedes {
    background-color: rgb(0, 0, 0);
  }
  .letraMercedes {
    color: rgb(200, 204, 206);
  }
  .numeroMercedes {
    color: rgb(255, 255, 255);
  }
  
  .fondoAstonMartin {
    background-color: rgb(3, 122, 104);
  }
  .letraAstonMartin {
    color: rgb(0, 0, 0);
  }
  .numeroAstonMartin {
    color: rgb(192, 103, 105);
  }
  
  .fondoMcLaren {
    background-color: rgb(255, 128, 0);
  }
  .letraMcLaren {
    color: rgb(0, 0, 0);
  }
  .numeroMcLaren {
    color: rgb(255, 255, 255);
  }
  
  .fondoHaas {
    background-color: rgb(255, 255, 255);
  }
  .letraHaas {
    color: rgb(225, 35, 25);
  }
  .numeroHaas {
    color: rgb(33, 115, 184);
  }
  
  .fondoAlpine {
    background-color: rgb(2, 25, 43);
  }
  .letraAlpine {
    color: rgb(225, 35, 25);
  }
  .numeroAlpine {
    color: rgb(255, 255, 255);
  }
  
  .fondoAlphaTauri {
    background-color: $colorAzul;
  }
  
  .letraAlphaTauri {
    color: white;
  }
  
  .numeroAlphaTauri {
    color: white;
  }
  
  .fondoWilliams {
    background-color: rgb(0, 160, 222);
  }
  .letraWilliams {
    color: rgb(0, 0, 0);
  }
  .numeroWilliams {
    color: rgb(255, 255, 255);
  }
  
  .fondoAlfaRomeo {
    background-color: rgb(255, 255, 255);
  }
  .letraAlfaRomeo {
    color: rgb(30, 83, 65);
  }
  .numeroAlfaRomeo {
    color: rgb(151, 39, 56);
  }